<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/javascript" href="js/java.js" />
    <title>Upcode</title>
    <link rel="stylesheet" type="text/css" href="css/st.css" />
  </head>
  <body>
    <fieldset>
      <legend>output</legend>
      <iframe id="output"></iframe>
    </fieldset>

    <aside>
      
      <div class="editor">
        <fieldset>
          <legend>html</legend>
          <textarea id="htmlcode"><!--your html code--></textarea>
        </fieldset>
        <fieldset>
          <legend>css</legend>
          <textarea id="csscode">/*your css code*/</textarea>
        </fieldset>
        <fieldset>
          <legend>js</legend>
          <textarea id="jscode">//your js code</textarea>
        </fieldset>
      </div>
    </aside>
    <script type="text/javascript" src="js/java.js">

    </script>
  </body>
</html>