<!DOCTYPE html>
<html lang="en">
<head>
   {{>Header}}
   <link rel="stylesheet" href="css/explore.css">
     <link rel="stylesheet" href="css/css1.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    {{>Navbar}}
<div id="London" class="tabcontent">
  
  <h1>Introduction</h1>
  <p>Upcode platform provides many more courses contains coding and programming languages.</p>
</div>

<div id="Paris" class="tabcontent">
  <h1>web Developement</h1>
  <p>web developement programming contains front-end, back-end and database part. learn more.</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h1>Programming Languages</h1>
  <p>programming language contains top programming language courses. learn more.</p>
</div>

<div id="Oslo" class="tabcontent">
  <h1>Data Structures</h1>
  <p>coming soon.</p>
</div>

<a class="tablink" onclick="openCity('London', this, 'red')" id="defaultOpen" href="#1">Introduction</a>
<a class="tablink" onclick="openCity('Paris', this, 'green')"  href="#2">Web Development</a>
<!--<a class="tablink" onclick="openCity('Tokyo', this, 'blue')"  href="#3">Pl</a>
<a class="tablink" onclick="openCity('Oslo', this, 'orange')"  href="#4">Ds</a>-->
<br>
<br>
<div class="jumbotron" id="1">
  <h1 class="display-4 container">Introduction</h1>
  <p class="lead container">our website helps you in a coding domain in lots of amount because we are added new channel in youtube you can also download our mini notes in our website and also you can ask guidence about coding related thing to our website links.our platform starts recently web development course in youtube channel you watch our videos and gain knowledge about web site making process from zero to hero</p>
  <hr class="my-4">
  <p class="container">you can check also to click this button for more information</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a>
  </p>
</div>
<div class="jumbotron" id="2">
  <h1 class="display-4 container">Web Development</h1>
  <p class="lead container">this couse is very benificial for you because we launch web development course in our platform so dont forget that your web development skills are important for your future lets start your coding journy from your platform lets begin and lets growing with upcode platform.</p>
  <hr class="my-4">
  <p class="container">for study material click to that button<span style="color: red;"> if you are not loged in then button shows wrong result so signup and login our page so that you can get free study material.</span></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/secret" role="button">Learn more</a>
  </p>
</div>

     {{>Footer}}
    {{>Script}}
    <script src="js/explore.js"></script>
</body>
</html>