<!DOCTYPE html>
<html lang="en">

<head>
    {{>Header}}
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
</head>

<body style="background-color: #242630;">
  {{>Navbar}}
 <form action="/login" method="POST" style="border:0.2rem solid rgb(63, 60, 60);">
  <div class="container s1" style="background-color:white;  margin:0 auto; margin-top: 5rem; margin-bottom: 5rem;  border: 1px solid rgb(5, 5, 5); width:inherit;">
    <img src="img/logo.jpg"  class="container text-center" alt="upcode" style="width: 15rem; height: 3rem; margin-top: 1.5rem;  display: flex;
    justify-content: center;
    align-items: center;">
    <h1 class="text-center " style="font-weight: 700;">Log In</h1>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password" id="myInput">
   
<input type="checkbox" onclick="myFunction()">Show Password

    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px" required> Remember me
    </label>

    <p>By creating an account you agree to our <a href="https://policies.google.com/terms/" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <div style="display: flex; justify-content:space-between;">
      <button type="submit" class="signupbtn">Log In</button>
      </div>
    </div>
  </div>
</form>
    {{>Script}}
    <script>
      function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
    </script>
</body>

</html>