<!DOCTYPE html>
<html lang="en">
<head>
{{>Header}}
<link rel="stylesheet" href="css/css1.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {{>Navbar}}
   <div class="alert alert-success" role="alert">
<marquee behavior="" direction="left">You can download pdfs and watch our web development videos also. our upcode platform is on <a class="badge badge-secondary" href="https://www.youtube.com/channel/UCkVpA22QZfdzU9RBVacrKpg">youtube</a> so you can also watch our coding videos on youtube so lets start your coding journy with upcode platform</marquee> 
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="color: red; font-weight:600;">You Tube</h1>
    <p class="lead">you can also check our you tube channel for your coding courses. recently upcode launch web development course in <a href="https://www.youtube.com/channel/UCkVpA22QZfdzU9RBVacrKpg" style="color: green;">youtube platform</a></p>
  <button type="button" class="btn btn-outline-success"><a href="https://www.youtube.com/channel/UCkVpA22QZfdzU9RBVacrKpg" style="color: green;">youtube platform</a></button>
  </div>
</div>
<a href="/code">click here for coding practice</a>
    {{>Footer}}
    {{>Script}}
</body>
</html>