<!DOCTYPE html>
<html lang="en">
<head>
{{>Header}}
<link rel="stylesheet" href="css/css1.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {{>Navbar}}
   <div class="alert alert-success" role="alert">
<marquee behavior="" direction="left">You can download pdfs and watch our web development videos also. our upcode platform is on <a class="badge badge-secondary" href="https://www.youtube.com/channel/UCkVpA22QZfdzU9RBVacrKpg">youtube</a> so you can also watch our coding videos on youtube so lets start your coding journy with upcode platform</marquee> 
</div>
<div style="background-color: rgba(218, 218, 218, 0.898); width:100%; height: 500px; display:flex; justify-content:center; align-items:center; flex-direction:column;">
<h1>HTML(Hypertext Markup Language)</h1>
<p>download html short notes by clicking this button.</p>
<a href="htmlnote.pdf" download="htmlnote.pdf"><button type="button" class="notes">Download</button></a>                                                                                                         
</div>
<br>
<hr>
<div style="background-color: rgba(218, 218, 218, 0.898); width:100%; height: 200px; display:flex; justify-content:center; align-items:center; flex-direction:column;">
  <h1>Do Some Practice With Black Screen Online Compiler</h1>
<a href="/code"><button class="notes">click here for coding practice</button></a>                                                                                                         
</div>
<br>
<hr>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="color: red; font-weight:600;">You Tube</h1>
    <p class="lead">you can also check our you tube channel for your coding courses. recently upcode launch web development course in <a href="https://www.youtube.com/channel/UCkVpA22QZfdzU9RBVacrKpg" style="color: green;">youtube platform</a></p>
  <button type="button" class="btn btn-outline-success"><a href="https://www.youtube.com/channel/UCkVpA22QZfdzU9RBVacrKpg" style="color: green;">youtube platform</a></button>
  </div>
</div>
    {{>Footer}}
    {{>Script}}
     <script>
            function download(file, text) {
              
                //creating an invisible element
                var element = document.createElement('a');
                element.setAttribute('href', 
                'data:text/plain;charset=utf-8, '
                + encodeURIComponent(text));
                element.setAttribute('download', file);
              
                // Above code is equivalent to
                // <a href="path of file" download="file name">
              
                document.body.appendChild(element);
              
                //onClick property
                element.click();
              
                document.body.removeChild(element);
            }
              
            // Start file download.
            document.getElementById("btn")
            .addEventListener("click", function() {
                // Generate download of hello.txt 
                // file with some content
                var text = document.getElementById("text").value;
                var filename = "GFG.txt";
              
                download(filename, text);
            }, false);
         </script>
</body>
</html>