<div class="car1">
     <div class="image">
        <figure>
            <img src="img/img1.png" alt="promotion">
        </figure>
    </div>
    <div class="read">
<h1>Start your coding journey with upcode platform</h1>
<p>lets look upcode platform and buy your best courses.</p>
    </div>
</div>