<div class="car2" >
     <div class="image">
        <figure>
            <img src="img/img2.png" alt="promotion">
        </figure>
    </div>
    <div class="read">
<h1>Join our coding community</h1>
<p>We are very excited to join with you. <br> try your first course now.</p>
    </div>
</div>