<div class="car3" >
     <div class="image">
        <figure>
            <img src="img/img3.png" alt="promotion">
        </figure>
    </div>
    <div class="read">
<h1>New courses are coming soon</h1>
<p>your new courses are ready to release. <br> join with huge community scale.</p>
    </div>
</div>