 <div class="jumbotron jumbotron-fluid" style="bottom: 0; left:0; right:0; top:100%;">
    <div class="container">
      <h1 class=" text-center ">The latest digital skills, within reach.</h1>
      <p class="lead text-center">Discover the fastest, most effective way to gain job read expertise for the careers
        of the future.</p>
      <hr>
      <h5 class=" container text-center mr-5">&copy; 2020-2021 Upcode, Inc.</h5>
      <br>
      <div class="container row " style=" display:flex; justify-content:center; align-items:center; ">
        <div style="padding: 1rem;"><a href="https://www.facebook.com/shubham.halade.127" class="fa fa-facebook"
            target="_blank"></a></div>
        <div style="padding: 1rem;"><a href="http://upcode-page.herokuapp.com/" class="fa fa-google" target="_blank"></a></div>
        <div style="padding: 1rem;"><a href="https://www.linkedin.com/in/halade-shubham-sunil-22bb55206/"
            class="fa fa-linkedin" target="_blank"></a></div>
        <div style="padding: 1rem;"><a href="https://www.youtube.com/channel/UCkVpA22QZfdzU9RBVacrKpg" class="fa fa-youtube" target="_blank"></a></div>
        <div style="padding: 1rem;"><a href="https://www.instagram.com/shubham__396/" class="fa fa-instagram"
            target="_blank"></a></div>
      </div>
      <h6 class="text-center">Upcode is not an accredited university and we don't confer traditional degrees. Upcode
        platform is a helping factor for educational society.</h6>
    </div>
  </div>