<nav class="navbar navbar-expand-lg navbar-light bg-white" >
    <div class="container ">
  <img src="img/logo.jpg"  alt="upcode" style="width: 10rem;">
  <button class="navbar-toggler text-center" type="button"  style="width: 3rem;" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="/explore">Explore</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Store
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/secret">Web Developement</a>
          <a class="dropdown-item"style="display: none;" href="#">Programming Languages</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/new">coming soon</a>
        </div>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#" style="display: none;">Discuss</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" id="logi" href="/login">Log In</a>
      </li>
      </li>
        <li class="nav-item active">
        <a class="nav-link" id="logou" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
  </div>
</nav>


