.car2{
    background-image: linear-gradient(to top, rgb(22, 161, 17) , rgb(186, 252, 186));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    height: 60vh;
    width: 100%;
}
.car2 .image figure img{
    margin-left: 10rem;
    height: 50vh;
    width: 30vw;
}

.car2 .read{
    margin-right: 10rem;
    height: 40%;
    padding-left: 5rem;
    margin-top: 4rem;
    width: 40%;
    font-weight: 300;
}

@media (max-width : 768px){
    .car2{
        display: none;
    }
    .carousel-indicators{
        display: none;
    }

   }
   @media(min-width: 769px) and (max-width : 1023px){
       .car2 .image figure img{
           height: 40vh;
           width: 20vw;
       }
       
   .car2 .read{
       margin-right: 4rem;
       height: 60%;
       width: 50%;
   } 
   .carousel-indicators{
    display: none;
}
   
   }